body {
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
    color: #f0d8ac;
    background-color: #a5c1cc;
    margin: 20px;
    padding: 0;
}

p {
    line-height: 21px;
}

h1 {
    color: #a9908c;
    background-color: #f7f1cf;
    font-size: 2em;
	border-style: inset;
    margin: 0;
    margin-bottom: 25%;
    padding: 4px;
    font-style: italic;
    text-align: center;
    letter-spacing: 0.5em;
    border-bottom-style: solid;
    border-bottom-width: 0.5em;
    border-bottom-color: #d8ae60;
}

h2 {
    color: #a9908c;
    background-color: #f7f1cf;
    font-size: 1.5em;
    margin: 0;
    padding: 2px;
    padding-left: 14px;
}

h3 {
    color: #a9908c;
    font-size: 1.25em;
}

img {
    border-width: 2px;
    border-color: #f0d8ac;
}

a {
    text-decoration: none;
}

strong {
    font-style: italic;
    text-transform: uppercase;
}

li {
    color: #d8ae60;
    font-style: italic;
}

table {
    background-color: #f0d8ac;
}

#maincontent {
	margin-left: 150px;
	margin-right: 150px;
	padding-left: 20px;
}

.banner {
	display:block;
	margin-left: auto;
	margin-right: auto;
	padding: 20px
}

.game {
	display: block;
	padding: 20px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding: 20
}

nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #f7f1cf;
	width: 150px;
	position: fixed;
}

nav ul li a {
	display: block;
	color: #d8ae60;
	padding-bottom: 8;
	padding-top: 8;
	padding-left: 16px;
}

nav ul li a:hover{
	background-color: #f0d8ac;
	color: #a9908c;
}

.active {
	background-color: #d8ae60;
	color: #a5c1cc;
}

@media screen and (max-width: 600px) {
	nav {
		display: none;
	}
	#maincontent {
		margin-left: 5%;
		margin-right: 5%;
		padding-left: 20px;
	}
}