body {
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
    color: #f0d8ac;
    background-color: #a5c1cc;
    margin: 20px;
    padding: 0;
}

p {
    line-height: 21px;
}

h1 {
    color: #a9908c;
    background-color: #f7f1cf;
    font-size: 2em;
    margin: 0;
    margin-bottom: 7px;
    padding: 4px;
    font-style: italic;
    text-align: center;
    letter-spacing: 0.5em;
    border-bottom-style: solid;
    border-bottom-width: 0.5em;
    border-bottom-color: #d8ae60;
}

h2 {
    color: #f0d8ac;
    background-color: #f7f1cf;
    font-size: 1.5em;
    margin: 0;
    padding: 2px;
    padding-left: 14px;
}

h3 {
    color: #f0d8ac;
    font-size: 1.25em;
}

img {
    border-style: inset;
    border-width: 2px;
    border-color: #f0d8ac;
}

a {
    text-decoration: none;
}

strong {
    font-style: italic;
    text-transform: uppercase;
}

li {
    color: #f0d8ac;
    font-style: italic;
}

table {
    background-color: #f0d8ac;
}